name: test-js

on:
  workflow_dispatch:
  pull_request:
    paths:
      - "**.js"
      - "**.jsx"
      - "**.ts"
      - "**.tsx"

jobs:
  test_js:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        node-version: [20, 18]
    steps:
      - uses: actions/checkout@v4.1.1
      - name: Use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v4.0.0
        with:
          node-version: ${{ matrix.node-version }}
          cache: yarn
      - name: Install dependencies
        run: yarn install --non-interactive 
      - name: "Run Tests: JavaScript Tests"
        run: node ./scripts/run-ci-javascript-tests.js --maxWorkers 2
        shell: bash
      - uses: ./.github/actions/run_e2e
        with:
          platform: js
      - name: "Store test results"
        uses: actions/upload-artifact@v3.1.3
        with:
          name: test-results
          path: ./reports/junit
  test-windows:
    runs-on: windows-2022
    env:
      CHOCO_CACHE_DIR: "C:\\ChocoCache"
    steps:
      - name: Checkout
        uses: actions/checkout@v4.1.1
      - name: Restore choco cache
        uses: actions/cache/restore@v3.3.2
        with:
          path: ${{ env.CHOCO_CACHE_DIR }}
          key: v1-win-choco-cache-${{ github.job }}
      - name: Configure choco cache
        shell: pwsh
        run: |
          New-Item -ItemType Directory -Force -Path $env:CHOCO_CACHE_DIR
          choco config set --name cacheLocation --value $env:CHOCO_CACHE_DIR
      - uses: actions/setup-node@v4.0.0
        with:
          node-version: ${{ matrix.node-version }}
          cache: yarn
      - name: Display Environment info
        run: |
          npm install -g envinfo
          envinfo -v
          envinfo
      - name: "Yarn: Install Dependencies"
        run: yarn install --frozen-lockfile --non-interactive
      - name: Save choco cache
        uses: actions/cache/save@v3.3.2
        with:
          path: ${{ env.CHOCO_CACHE_DIR }}
          key: v1-win-choco-cache-${{ github.job }}
      - name: Flow check
        run: yarn flow-check
      - name: "Run Tests: JavaScript Tests"
        run: |
          cd ..
          cd D:\a\react-native\react-native
          yarn test
